#seems{
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: azure;
}
.hero{
    padding: 20px;
}
.hero h1{
font-family: Poppins;
font-size: 80px;
font-weight: 500;
line-height: 100px;
color: rgb(0, 0, 0);
text-transform: uppercase;

}
.hero p{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 28px;
color: rgb(114, 114, 114);
}